body {
    background-color: #40E0D0; 
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative; 
    overflow: hidden; 
}
.globo {
    width: 100px; 
    height: 130px; 
    border-radius: 50% 50% 45% 45%; 
    position: absolute;
    margin: 50px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer; /* Cursor de puntero al pasar por encima */
}
.cuerda {
    width: 4px;
    height: 100px;
    background-color: black;
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
}
.globo::after {
    content: '';
    width: 80px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 20px;
    left: 10px;
    border-radius: 50%;
}
@keyframes float {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100vh); } 
}
.foto-gato {
    margin-top: 50px;
    position: relative;
    z-index: 1; 
}
.bocadillo {
    position: absolute;
    top: -40px;
    left: 50%; 
    transform: translateX(-50%);
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.play-button, #mostrar-mensaje, .button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FF69B4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    z-index: 10;
    
}
.firework {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    pointer-events: none;
    animation: explode 1s forwards;
    opacity: 0; /* Start invisible */
}
@keyframes explode {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        opacity: 1; /* Visible during explosion */
    }
    100% {
        transform: scale(5);
        opacity: 0; /* Fade out */
    }
}